.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
  background-image: url("https://www.transparenttextures.com/patterns/light-toast.png");
  height: 520px;
  padding-top: 120px;
}

.page-header:hover .profile-name{
  color: lightcoral;
}

.profile-pic {
  padding-top: 1.5em;
}

.profile-name {
  margin-top: -0.5em;
  color: rgb(51, 51, 51);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.profile-name-last {
  font-weight: 700;
}