.navbar {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  /* top: 0px; */

}

.nav-text {
  display: flex;
  color: #FFFFFF;
  margin: 1.5em;
  align-items: center;
}