.tweet-container {
  border: 4px solid #1f2b22;
  margin: 20px;
  padding: 20px;
}

.tweet-container:hover {
  box-shadow: 12px 12px cadetblue;
  background-color: rgb(252, 252, 255);
}

.tweet-container:hover .handle {
  opacity: 1;
  color: lightcoral;
}

.tweet-container:hover .fa {
  opacity: 1;
}

.tweet-header, .tweet-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.tweet-header > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tweet-username {
  padding-left: 12px;
}

.handle {
  justify-content: flex-end;
  opacity: 0.2;
  color: #1f2b22;
}

hr {
  border-top: 4px solid #1f2b22
}

.word-wrap {
  word-wrap: break-word;
}

.fa {
  opacity: 0.2;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  opacity: 1;
  color: lightcoral;
}

.date-posted {
  opacity: 0.2;
}

.tweet-container:hover .date-posted {
  opacity: 1;
}